:root {
    --background-color: #f9f9f9;
    --text-color: #444;
    --primary-color: #007acc;
    --secondary-color: #333;
    --heading-color: #222;
    --hover-color: #005f99;
    --border-radius: 8px;
    --font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    margin: 0.5em 0;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--hover-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Algemene styling voor tabellen */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Hoofd van de tabel */
thead {
    background-color: #0077cc;
    color: #ffffff;
    font-weight: bold;
}

thead th {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

/* Tabellen rijen */
tbody tr {
    transition: background-color 0.3s ease;
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e0f2ff;
}

td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

h1,
h2 {
    color: #333;
    margin-top: 2rem;
}

h2 {
    font-size: 1.5rem;
}
